{% extends 'base.html' %}
{% block title %}AskAway{% endblock %}
{% block content %}

        <div class="flex flex-col p-2 py-6 m-h-screen">

        <form action="">
          <div class="bg-white items-center justify-between w-full flex rounded-full shadow-lg p-2 mb-5 sticky" style="top: 5px">

              <div>

                  <div class="p-2 mr-1 rounded-full hover:bg-gray-100 cursor-pointer">

                      <svg class="h-6 w-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
                      </svg>
                  </div>
              </div>

            
              <input name="Search" class="font-bold uppercase rounded-full w-full py-4 pl-4 text-gray-700 bg-gray-100 leading-tight focus:outline-none focus:shadow-outline lg:text-sm text-xs" type="text" placeholder="Search">
                  <button  class="bg-gray-600 p-2 hover:bg-blue-400 cursor-pointer mx-2 rounded-full">
                      <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                      </svg>
                  </button>
            
    
          </div>
        </form>

        {% for q in questions %}
        <div class="card-container flex flex-col gap-4 lg:p-4 p-2  rounde-lg m-2 ">

              <div  class="h-[100px] card-body flex items-center justify-between w-full p-2 lg:rounded-full md:rounded-full hover:bg-gray-100 cursor-pointer border-2 rounded-lg">
                  <div class="lg:flex md:flex items-center">
                  <div class="h-12 w-12 mb-2 lg:mb-0 border md:mb-0 rounded-full mr-3"></div>
                  <div class="flex flex-col">
                      <div class="card-title text-xl leading-3 text-gray-700 font-bold w-full"><a href="{% url 'app:content' id=q.id %}">{{q.title}}</a></div>
                      <div class="card-content text-lg text-gray-600 w-full">{{q.content}}</div>
                      <p>
                        <a class="text-purple-600 mr-3" href="">{{q.user}}</a>
                        <a class="text-purple-600 mr-3" href="">{{q.total_comments}} Comments</a>
                        <a class="text-purple-600 mr-3" href="">{{q.answer_set.count}} Answers</a>
                        <p>{{q.added_on}}</p>
                    </p>
                  </div>
                  </div>
                  <svg class="h-6 w-6 mr-1 invisible md:visible lg:visible xl:visible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                  </svg>
                      </div>
                </div>
                </div>
        </div>
        {% endfor %}
    <!-- component -->
    <nav>
        <ul class="flex justify-center">
          <li>
            {% if questions.has_previous %}
            <a  class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border border-blue-gray-100 bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out hover:bg-light-300"  href="?page={{questions.previous_page_number}}"  aria-label="Previous">
              <span class="material-icons text-sm">keyboard_arrow_left</span>
            </a>
            {% endif %}
          </li>
          {% for i in questions.paginator.page_range %}
          <li>
            <a  class="mx-1 flex h-9 w-9 items-center justify-center rounded-full bg-gradient-to-tr from-pink-600 to-pink-400 p-0 text-sm text-white shadow-md shadow-pink-500/20 transition duration-150 ease-in-out"  href="?page={{i}}">
                {{i}}
            </a>
          </li>
          {% endfor %}
          <li>
            {% if questions.has_next %}
            <a  class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border border-blue-gray-100 bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out hover:bg-light-300"  href="?page={{questions.next_page_number}}"  aria-label="Next">
              <span class="material-icons text-sm">keyboard_arrow_right</span>
            </a>
            {% endif %}
          </li>
        </ul>
    </nav>

  <!-- stylesheet -->
{% endblock %}